body{
	font-size:1.5em;
	font-family:courier new;
}

#body{
	width:75%;
	margin-right:auto;
	margin-left:auto;
	border-radius:6px;
	border:1px solid #ccc;
}

#navigation_bar{
	text-align:center;
}

#header{
	height:120px;
	background-color:rgb(144, 196, 242);
	text-align:center;
}

#headerTitle{
	display:inline-block;
}
#skillbar{
	width:32%;
	left:100%;
	display:inline-block;
	position:relative;
	border-radius:10px;
	border:1px solid #00BFFF;
}

#skillheader{
	text-align:center;
	background-color:#00BFFF;
	border-radius:4px;
	color:#fff;
}
#skills{
	margin:5px 5px 5px 5px;
}

#WorkXP{
	display:inline-block;
	position:absolute;
	width: 50%;
	border: 1px solid #888;
	border-radius: 3px;

}

.progress-bar{
	background-color:#00BFFF;
}
.TemplateBody{
	margin-top:40px;
	padding-bottom:60px;
	padding-left:10px;
	padding-right:10px;
}
#company{
	font-weight:bold;
}

.rating-on { 
      height:30px;
      width: 30px;
      background-size: contain;
      background-image: url("/images/rating_on.png");
    }
.rating-off {
      height: 30px;
      width: 30px;
      background-size: contain;
      background-image: url("/images/rating_off.png");
    }

#experience{
	padding-bottom:20px;
	width:100%;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
}

#github{
	display:inline-block;
	height:32px;
	width:32px;
	margin-top:10px;
	margin-right:5px;
}

#xpheader{
	padding-left: 5px;
	background-color: #00BFFF;
	color: #FFF;
}