 #Skill-HTML {
 width: 100%;
 animation: Animate-HTML 4s;
 -webkit-animation: Animate-HTML 4s;
 -moz-animation: Animate-HTML 4s;
 -o-animation: Animate-HTML 4s;
 height: 45px;
 position: absolute;
 background-color: #F9690E;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
 }
 @keyframes Animate-HTML {
 a from {width: 10px;}
 to {width: 100%}
 }
 @-webkit-keyframes Animate-HTML {
 from {width: 10px;}
 to {width: 100%}
 }
 @-moz-keyframes Animate-HTML {
 from {width: 10px;}
 to {width: 100%}
 }
 @-o-keyframes Animate-HTML {
 from {width: 10px;}
 to {width: 100%}
 }

 /* Animation Times - Time to fade in */
 .fadeIn-3s {
 -webkit-animation-duration:3s;
 -moz-animation-duration:3s;
 -o-animation-duration:3s;
 animation-duration:3s;
 }
 /* Animation Delay - Time to be delayed  */
 .fadeIn-Delay-3s {
 -webkit-animation-delay:3s;
 -moz-animation-delay:3s;
 -o-animation-delay:3s;
 animation-delay:3s;
 }

 @media only screen and (max-width: 40em) {
 .responsive-percent {
 margin-right: -45px !important;
 }
 }
 @media only screen and (min-width: 40.063em) and (max-width: 64em) {
 .responsive-percent {
 margin-right: -45px !important;
 }
 }