<h1>PROJECTS</h1>

<div class="TemplateBody"> 
	<accordion close-others="false">
	    <accordion-group heading="Fist of the Brobot" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
	    	<div>Summary: Participated in GameJam 2015 </div>
	    	<div> Link: <a href="http://globalgamejam.org/2015/games/fist-brobots"> <img src="http://globalgamejam.org/sites/default/files/styles/game_sidebar__wide/public/game/featured_image/fistofthebrobot.png?itok=4i7Q2bUy" target="_blank"></img> </a></div>
	    </accordion-group>
	   <!-- <accordion-group heading="Fist of the Brobot" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
	    	<div>Summary: Participated in GameJam 2015 </div>
	    </accordion-group>-->
	    
  	</accordion>

</div>