<h1>PROJECTS DIRECTORY </h1>

<div class="TemplateBody"> 
	<accordion close-others="false">
	    <accordion-group heading="Fist of the Brobot" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
	    	<div>Summary: Participated in GameJam 2015 </div>
	    </accordion-group>
	    <accordion-group heading="Fist of the Brobot" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
	    	<div>Summary: Participated in GameJam 2015 </div>
	    </accordion-group>
	    
  	</accordion>

</div>